{% extends 'base.html.twig' %}

{% block body %}
<h1>Profil de {{ app.user.pseudo }}</h1>
    <a href="{{ path('edit_pseudo', {'id' : app.user.id}) }}">{{ path('edit_pseudo', {'id' : app.user.id}) }}</a>

    <form method="post" action="{{ path('edit_pseudo', {'id': app.user.id}) }}">
        <div class="form-group">
            <h1 class="form-text">Changer de pseudo</h1>
            <input type="text" name="pseudo" placeholder="Nouveau pseudo" class="form-control">
            <input type="hidden" value="{{ app.user.id }}" name="id">
            <button type="submit" class="btn btn-danger">Changer de pseudo</button>
        </div>
    </form>
    <div class="row"></div>
    <form action="{{ path('edit_mdp', {'id': app.user.id}) }}" method="post">
        <div class="form-group">
            <h1 class="form-text">Changer de mot de passe</h1>
            <input type="password"  name="mdp" placeholder="Nouveau mot de passe" class="form-control">
            <input type="hidden" name="id" value="{{ app.user.id }}">
            <button type="submit" class="btn btn-danger">Changer de mot de passe</button>
        </div>
    </form>
    <div class="row"></div>
    <form method="post" action="{{ path('edit_mail', {'id': app.user.id}) }}">
        <div class="form-group">
            <h1 class="form-text">Changer de pseudo</h1>
            <input type="text" name="email" placeholder="Adresse mail actuelle : {{ app.user.email }}" class="form-control" >
            <input type="hidden" value="{{ app.user.id }}" name="id">
            <button type="submit" class="btn btn-danger">Changer d'adresse mail</button>
        </div>
    </form>


    {{ user.amis }}
    <h1>Ajouter un joueur en ami</h1>
    {#<form action="{{ path('ajout_ami') }}" method="post">#}
        {#<select name="ami">#}
            {#<option value="">Choisir</option>#}
            {#{% for joueur in joueurs %}#}
                {#<option value="{{ joueur.id }}">{{ joueur.pseudo }}</option>#}
            {#{% endfor %}#}
        {#</select>#}
        {#<input type="submit" value="Ajouter en ami" onclick="ajaxCall()">#}
    {#</form>#}

{% endblock %}

{% block javascripts %}
    <script>

    </script>

{% endblock %}